body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgba(207, 202, 202, 0.952);
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 0 20px;
   
}

.header {
    padding: 20px 0;
    
  }
  
.header img {
    width: 210px;
    height: 240px;
    border-radius: 50%;
}
.name,
.photo {
    display: inline-block;
}

.name {
    margin-left: 50px;
    vertical-align: top;
}

h2 {
    color: rgba(0, 0, 0, 0.753);
}
h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
  }

  a {
    text-decoration: none;
    color: #9406f3;
  }
  a:hover {
      color: rgb(17, 146, 34);
  }
  .first_col {
      
      float: left;
      width: 49%;
  }

  .second_col{
    float: right; 
    width: 49%;
  }

  li {
    list-style-type: round;
  }
  
  .clearfix 
  {
    clear: both;
  }
  
